<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    {{ greeting }}<br>
    <br>
    {{ content }}<br>
    <br>
    {{ farewell }}<br>
    <strong>{{ sender }}</strong>
  </body>
</html>
